<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <img src="/images/logo.svg" alt="Logo Pokedex">

    <nav class="navbar">
      <a href="#">Home</a>
      <a href="#">Pokedex</a>
      <a href="#">Legendaries</a>
      <a href="#">Documentation</a>
    </nav>
  </header>
</body>

</html>